@use "../config/variables" as v;

#about {
  section {
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .inner {
    position: absolute;
  }
  h1 {
    font-size: 5rem;
  }
  .full-snowboard {
    background-image: url(../../img/snowboard.PNG);
    background-position: center top;

    .inner {
      margin-top: 60vh;
      margin-left: 50vw;
    }
  }
  .full-breakin2 {
    background-image: url(../../img/breakin2.JPG);
    background-position: center top;

    .inner {
      margin-top: 60vh;
      margin-left: 10vw;
    }
  }
  .full-sora {
    background-image: url(../../img/sora.JPG);
    background-position: center top;

    .inner {
      margin-top: 15vh;
      margin-left: 50vw;
    }
  }
}
