@use "../config/variables" as v;

#contact {
  background-image: url(../../img/nature.jpeg);
  min-height: 100vh;
  position: relative;

  .contact {
    position: absolute;
    margin-top: 100px;
    max-width: 90vw;

    h1 {
      font-size: 5rem;
      color: v.$text-color;
    }

    label {
      display: block;
      color: v.$text-color;
      margin-bottom: 10px;
    }
    input[type="text"],
    input[type="email"],
    textarea {
      border: solid 1px #fff;
      background: rgba($color: #fff, $alpha: 0.5);
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;
    }
    input[type="submit"] {
      border: none;
      cursor: pointer;
      line-height: 1;
    }
  }
}
