@use "../config/variables" as v;

#works {
  background-color: v.$base-color;

  .portforio {
    padding-top: 100px;
    padding-bottom: 300px;

    h1 {
      font-size: 5rem;
      text-align: center;
      margin-bottom: 20px;
    }
    .container {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr 1fr;

      .portforio-item {
        img {
          width: 500px;
          height: auto;
        }
        h2 {
          font-size: 2rem;
          color: v.$accent-color;
        }
      }
    }
  }
}
